@charset "utf-8";

:root {
  --origami-color: #5f9cff;
  --uenoclub-color: rgb(241, 69, 69);
  --kiminoen-color: #42e966;
  --sakura-color: rgb(255, 126, 231);
  --quiz-color: #56ff47;
  --quiz-onemore-color: #199bec;
  --mail-color: #4250e9;
  --line-color: #0ce02f;
  --tel-color: #cb750b;
  --back-color: #f7fff6;
}

.first-view {
  position: relative;
  height: calc(100vh - 110px);
  max-width: 100%;
  background-image: url(../images/index/tea7.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.first-view-text {
  font-family: "Noto Serif JP", serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-bottom: 120px;
  font-weight: bold;
  text-shadow: 1px 1px 10px #57805a;
  color: #6eff77;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff,
              -1px 1px 0 #fff, 1px -1px 0 #fff,
              0px 1px 0 #fff,  0-1px 0 #fff,
              -1px 0 0 #fff, 1px 0 0 #fff;
}

.first-view-text h1 {
  font-size: 56px;
  line-height: 72px;
}

.first-view-text p {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
}

.form-link {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sakura-color);
  color: var(--sakura-color);
  border-radius: 35px;
  width: 280px;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px var(--sakura-color);
}

.form-link:hover {
  transition: all 200ms;
  background-color: var(--sakura-color);
  color: #fff;
}

.form-sakura {
  position: absolute;
  top: -5px;
  right: -45px;
  z-index: 21;
  width: 90px;
  transform: rotate(30deg);
}

.concept {
  padding: 60px 0;
}

.concept-text {
  padding: 20px;
  line-height: 2;
  text-align: center;
}

.concept-deco {
  font-size: 24px;
  font-weight: bold;
  color: #64ea6d;
}

.concept-img-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.concept-img-item {
  width: 200px;
  height: 140px;
  margin: 0 20px;
  border-radius: 20px;
  transform: rotate(5deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.concept-img-item:nth-child(1) {
  background-image: url(../images/index/tea1.png);
}

.concept-img-item:nth-child(2) {
  background-image: url(../images/index/tea9.png);
}

.detail {
  background-color: var(--back-color);
  padding: 45px 30px 55px 30px;
}

.detail-text {
  padding: 20px;
  line-height: 2;
  text-align: center;
  margin: 30px 0;
}

.detail-last-state {
  font-size: 14px;
}

.detail-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.detail dl {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 180px;
  height: 180px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #bcffaf;
  background-color: #fff;
  border-radius: 20px;
}

.detail dt, .detail dd {
  line-height: 30px;
  text-align: center;
}

/* .detail dt {
  margin-bottom: 10px;
} */

.detail dt::after {
  content: '';
  display: block;
  width: 36px;
  height: 1px;
  background-color: #000000;
  margin-top: 3px;
  margin: 0 auto;
}

.detail dd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

.menu {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 55px;
}

.menu-title {
  padding-top: 40px;
  padding-left: 60px;
  font-size: 20px;
}

.menu-title::after {
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  margin-top: 10px;
}

.menu-title-tea::after {
  background-color: #77ff00;
}

.menu-title-sweet::after {
  background-color: #ffb700;
}

.item-list {
  display: flex;
  padding: 20px 60px;
  overflow: scroll;
}

.bottom-border {
  border-bottom: 1px solid #000;
}

.item-list li {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
  margin-bottom: 10px;
}

.item-list li:first-child {
  margin-left: 0;
}

.item-list img {
  width: 80%;
  border-radius: 10%;
}

.introduce {
  background-color: #f0f0f0;
  padding: 60px;
}

.introduce-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.introduce-item {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.introduce-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.introduce-item img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.introduce-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
}

.origami-link {
  border: 1px solid var(--origami-color);
  background-color: #fff;
  color: var(--origami-color);
}

.origami-link:hover {
  border: 1px solid var(--origami-color);
  background-color: var(--origami-color);
  color: #fff;
}

.uenoclub-link {
  border: 1px solid var(--uenoclub-color);
  background-color: #fff;
  color: var(--uenoclub-color);
}

.uenoclub-link:hover {
  border: 1px solid var(--uenoclub-color);
  background-color: var(--uenoclub-color);
  color: #fff;
}

.kiminoen-link {
  border: 1px solid var(--kiminoen-color);
  background-color: #fff;
  color: var(--kiminoen-color);
}

.kiminoen-link:hover {
  border: 1px solid var(--kiminoen-color);
  background-color: var(--kiminoen-color);
  color: #fff;
}

.mail-link {
  border: 1px solid var(--mail-color);
  background-color: #fff;
  color: var(--mail-color);
}

.mail-link:hover {
  border: 1px solid var(--mail-color);
  background-color: var(--mail-color);
  color: #fff;
}

.tel-link {
  border: 1px solid var(--tel-color);
  background-color: #fff;
  color: var(--tel-color);
}

.tel-link:hover {
  border: 1px solid var(--tel-color);
  background-color: var(--tel-color);
  color: #fff;
}

.line-link {
  border: 1px solid var(--line-color);
  background-color: #fff;
  color: var(--line-color);
}

.line-link:hover {
  border: 1px solid var(--line-color);
  background-color: var(--line-color);
  color: #fff;
}

/* question */

.question {
  background-color: #fff;
  padding: 45px 30px 55px 30px;
}

.question h2 {
  margin-bottom: 30px;
}

.question dl {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.question dt, .question dd {
  text-align: left;
  line-height: 1.5;
}

.question dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #efefef;
  cursor: pointer;
}

.question dd {
  display: none;
  padding: 20px;
  font-weight: bold;
  border: 2px solid #efefef;
  background-color: #fff;
  /* background-color: #ececec; */
}

.question .qa-icon {
  margin-left: 10px;
}

.question .qa-icon.open {
  transition: all 200ms;
  transform: rotateX(180deg);
}

/* quiz */

.quiz {
  background-color: var(--back-color);
  padding: 60px;
}

.quiz h2 {
  margin-bottom: 30px;
}

.quiz-container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
}

.just-quiz-number {
  font-size: 16px;
  font-weight: bold;
}

.quiz-number::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background-color: var(--quiz-color);
  margin-top: 5px;
}

.quiz-text {
  padding: 30px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.answer-area {
  display: flex;
  justify-content: space-around;
}

.answer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid;
  width: 40%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 3px 0;
  cursor: pointer;
}

.answer-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 0;
}

.answer-btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 0;
}

.answer-circle {
  color: red;
  border-color: red;
}

.answer-xmark {
  color: blue;
  border-color: blue;
}

.result-number-text {
  margin: 20px 0;
}

.result-number {
  font-size: 24px;
  font-weight: bold;
  color: #008e1f;
}

.quiz-result-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.quiz-result-area>dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.quiz-result-area>dl>dt {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--quiz-color);
}

.quiz-result-area>dl>dd {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.result-mess {
  /* display: none; */
  padding: 0 20px 40px;
  font-weight: bold;
}

.correct-mess {
  color: rgb(255, 45, 255);
}

.incorrect-mess {
  color: blue;
}

.normal-mess {
  color: rgb(0, 114, 21);
}

.quiz-explan-area {
  width: 80%;
  margin: 0 auto 50px;
  font-size: 16px;
  display: none;
}

.quiz-explan-title {
  margin-bottom: 20px;
  color: green;
  font-size: 20px;
}

.quiz-explan-list>dt {
  margin-bottom: 10px;
}

.quiz-explan-list>dt::after {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  background-color: var(--quiz-color);
  margin-top: 2px;
}

.quiz-explan-list>dd {
  margin-bottom: 25px;
}

.quiz-result-btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-result-btn {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.quiz-result-btn {
  border: 1px solid var(--quiz-color);
  box-shadow: 0 3px 0 var(--quiz-color);
}

.quiz-result-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 0 var(--quiz-color);
}

.quiz-result-btn:active {
  transform: translateY(3px);
  box-shadow: none;
}

.quiz-result-btn>i {
  margin-right: 10px;
  color: var(--quiz-color);
}

.quiz-onemore-btn {
  border-color: var(--quiz-onemore-color);
  box-shadow: 0 3px 0 var(--quiz-onemore-color);
}

.quiz-onemore-btn:hover {
  box-shadow: 0 6px 0 var(--quiz-onemore-color);
}

.quiz-onemore-btn>i {
  margin-right: 10px;
  color: var(--quiz-onemore-color);
}

.correct-color {
  color: #b9c600;
}

.incorrect-color {
  color: #1925cc;
}

.hidden {
  display: none;
}

/* map */

.map {
  background-color: #fff;
  padding: 60px;
}

.map iframe {
  display: block;
  width: 80%;
  height: 480px;
  margin-top: 50px;
  margin: 30px auto 0;
}

/* contact */

.contact {
  background-color: #f0f0f0;
  padding: 60px;
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.contact-item {
  width: 45%;
  text-align: center;
  margin: 0 auto;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50px;
}

.contact-btn>i {
  margin-right: 10px;
}

/* enter */

.enter-view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.enter-back {
  position: absolute;
  top: 20px;
  right: 0;
  width: 30vw;
  transform-origin: right;
  opacity: 0;
}

.enter-content {
  text-align: center;
  width: 90%;
  padding-bottom: 100px;
  z-index: 60;
}

.enter-img-area {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
}

.enter-img {
  width: 100%;
  opacity: 0;
}

.enter-text {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  color: #56ff47;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
}

.opacity100 {
  opacity: 100;
  transition: all 1000ms;
}

@media(max-width: 800px) {
  .first-view {
    height: calc(100vh - 50px);
    /* background-image: url(../images/index/tea7.png); */
    align-items: flex-start;
  }
  
  .first-view-text {
    padding-top: 60px;
    padding-left: 20px;
  }
  
  .first-view-text h1 {
    font-size: 36px;
    line-height: 48px;
  }
  
  .first-view-text p {
    font-size: 20px;
    margin-top: 15px;
  }

  .form-link {
    right: 30px;
    bottom: 40px;
    border-radius: 35px;
    width: 160px;
    height: 60px;
    font-size: 18px;
  }

  .form-link-text-phone {
    display: none;
  }
  
  .lead {
    padding: 0 20px;
  }
  
  .lead p {
    text-align: left;
  }

  .detail-text {
    font-size: 16px;
  }

  .item-list li {
    width: 220px;
    margin-left: 30px;
  }

  .detail dl {
    width: 140px;
    height: 190px;
    margin: 5px;
    font-size: 16px;
  }

  .detail dt {
    margin-bottom: 10px;
  }

  .introduce {
    padding: 60px 20px;
  }

  .introduce-list {
    flex-direction: column;
  }

  .introduce-item {
    width: 90%;
  }

  .introduce-item:nth-child(n+2) {
    margin-top: 60px;
  }

  .quiz {
    padding: 60px 20px;
  }

  .quiz-container {
    width: 100%;
  }

  .quiz-text {
    padding: 30px 5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
  }

  .answer-area {
    justify-content: space-between;
  }
  
  .answer-btn {
    width: 45%;
  }

  .quiz-result-area>dl {
    margin: 5px;
  }

  .result-mess {
    padding: 0 0 40px;
  }

  .quiz-result-btn-area {
    flex-direction: column;
  }

  .quiz-onemore-btn {
    margin-top: 20px;
  }
  
  .quiz-result-btn {
    width: 80%;
    padding: 16px;
  }

  .map {
    padding: 60px 30px;
  }

  .map iframe {
    width: 100%;
    height: 320px;
  }

  .contact {
    padding: 60px 20px;
  }

  .contact-text {
    flex-direction: column;
  }

  .contact-text>span:nth-child(2) {
    margin-top: 10px;
  }

  .contact-list {
    flex-direction: column;
  }

  .contact-item {
    width: 100%;
  }

  .contact-btn {
    height: 80px;
  }

  .contact-item:nth-child(n+2) {
    margin-top: 20px;
  }

  .enter-back {
    width: 50vw;
  }

  .enter-img-area {
    width: 80%;
  }

  .enter-text {
    flex-direction: column;
  }

  .enter-text span {
    margin-top: 20px;
  }
  
  .enter-text {
    font-size: 20px;
  }
}
