@charset "utf-8";

.menu-header-phone {
  display: none;
}

.menu-header-pc {
  display: block;
}

.nav-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.nav-category-list {
  margin-bottom: 50px;
}

.tea-title {
  color: #13dd13;
}

.tea-title::after {
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  background-color: #13dd13;
  margin: 10px auto 0;
}

.sweet-title {
  color: #eab01f;
}

.sweet-title::after {
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  background-color: #eab01f;
  margin: 10px auto 0;
}

.back-color {
  color: rgb(112, 179, 255);
}

.menu {
  background-color: #e8ffe0;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  justify-content: center;
  margin: 30px 30px 0;
}

.item-list>li {
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
}

.tea-list>li {
  border: 3px solid #3cae3c;
}

.sweet-list>li {
  border: 3px solid #eab01f;
}

.item-list>li>img {
  border-radius: 30px;
}

.dammy-item {
  opacity: 0;
}

@media(max-width: 950px) {
  .dammy-item {
    display: none;
  }
}

@media(max-width: 800px) {
  .menu-header-phone {
    display: block;
  }

  .menu-header-pc {
    display: none;
  }

  .item-list>li>img {
    width: 70%;
  }
}